.image-preview {
	width: 300px;
	min-height: 230px;
	border: 2px solid #dddddd;
	margin-top: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: #cccc;
}

.image-preview__image {
	width: 100%;
}

input.file-input {
	display: none;
}

input.file-input+label {
	background-color: #0082d4;
	padding: 7px;
	color: #fff;
	border: 2px solid #9ec3ff;
	border-radius: 9px;
	width: 30%;
}

input.file-input+label:hover {
	background-color: #3b73ce;
	border-color: #729fe7;
	cursor: pointer;
}
